@{
    ViewData["Title"] = "Página Inicial";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="Pessoas" asp-action="Index">Pessoas</a>
</p>
<p>
    <a asp-controller="Equipes" asp-action="Index">Equipes</a>
</p>
<p>
    <a asp-controller="EquipesPessoas" asp-action="Index">EquipePessoas</a>
</p>
